@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: noooordica;
    src: url(./Norse-Bold.otf);
}


:root {
    --hero-font: noooordica;
    --green-submit: #596D48;
    --text-font: Roboto;
    --padding-for-right-container: 10px;
    --input-border: rgb(161, 154, 154);

    /*sidebar var*/
    --margin-left-sidebar: 5px;
    --gap-sidebar: 5px;
    --sidebar-weight: 800;
    --sidebar-color: #1992d4;
    --sidebar-text-color: #f2f7f8;
    --sidebar-icon-height: 20px;

    /*header var*/
    --header-icon-height: 25px;
    --header-background-color: #ffff;
    --searchbar-background-color: rgba(172, 187, 206, 0.4);

    /*main var*/
    --main-background-color: rgb(229, 232, 240);
    
}

* {
    font-family: var(--text-font);
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0px;
    
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    /* border: 5px solid green; */
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 31, 34);
    

    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  

  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* //////////////////////////////////////////////////////////// */


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;

    max-height: 98vh;
    
    max-width: 80vw;
    min-width: 75vw;
    
    
}


/* /////////////////// SIDEBAR /////////////////// */
    .sidebar {
        background-color: var(--sidebar-color);

        min-width: 137px; /* evitar que se aplaste */
        
        display: grid;
        grid-column: 1/2;
        grid-row: 1/3;

        grid-template-rows: 0.5fr 2fr 4fr;
        

    }

        .brand {

            margin-left: var(--margin-left-sidebar);
            color: var(--sidebar-text-color);
            font-family: var(--text-font);
            font-size: 1.5rem;
            font-weight: var(--sidebar-weight);

            display: flex;
            flex-direction: row;
            align-items: center;

            gap: var(--gap-sidebar);
            

        }
            .logo {

            }

                .logo img {
                    min-width: 2rem;
                    max-width: 3rem;
                    
                }

                

            .brand-name {

                

            }


        .sections {
            display: flex;
            

        }
            .pages {
                margin-left: var(--margin-left-sidebar);
                
                display: flex;
                flex-direction: column;
                gap: var(--gap-sidebar);
                
                
                
            }

            .pages li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--gap-sidebar);
                
            }

            .pages li > img {
                height: var(--sidebar-icon-height);
                
            }


        .settings {

            }
            .configurations {
                display: flex;
                flex-direction: column;
                gap: var(--gap-sidebar);
                margin-left: var(--margin-left-sidebar);
                margin-top: 30px;

            }

                .configurations > li {
                    display: flex;
                    gap: var(--gap-sidebar);
                
                }

                .configurations > li > img {
                    height: var(--sidebar-icon-height);
                }

    

    


/* /////////////////// RIGHT SIDE CONTAINER /////////////////// */


    .right-side-container {

        
        display: grid;

        grid-column: 2/3;
        grid-row: 1/3;

        grid-template-rows: 1fr 5fr;

        

    }


/* /////////////////// HEADER /////////////////// */

        .header {
            /* background-color: aqua; */
            
            background-color: var(--header-background-color);

            display: grid;
            grid-column: 1/3;
            grid-row: 1/2;

            grid-template-rows: 1fr 1.5fr;
            
            
        }
            /*//////////////TOP HEADER///////////*/
            .h-t-container {

                

                display: grid;
                grid-template-columns: 0.5fr 5fr 2fr 1fr 1fr 3fr;

                

            }

            .h-t-container > div > img {
                    height: var(--sidebar-icon-height);
                }

            

                .m-glass-icon {
                    /* background-color: red; */

                    

                    grid-column: 1/2;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    margin-left: 5px;
                }

                    

                .search-bar {
                    
                    /* background-color: green; */

                    margin-left: 10px;

                    grid-column: 2/3;

                    display: flex;
                    flex-wrap:wrap;
                    align-content: center;
                    justify-content: center;

                }

                .search-bar > input {
                        border-radius: 10px;
                        border: none;
                        background-color: var(--searchbar-background-color);

                        
                    }

                .bell {
                    
                    grid-column: 4/5;

                    display: flex;
                    flex-wrap:wrap;
                    align-content: center;
                    justify-content: center;
                }

                .avatar {
                   
                    grid-column: 5/6;

                    display: flex;
                    flex-wrap:wrap;
                    align-content: center;
                    justify-content: center;
                }

                .user-name {
                    /* background-color: rgb(161, 123, 197); */
                    grid-column: 6/7;

                    display: flex;
                    flex-wrap:wrap;
                    align-content: center;
                    justify-content: center;

                    align-items: center;
                    text-align: center;


                }

                /*//////////////BOTTOM HEADER///////////*/
            .h-b-container {

                align-items: center;
                
                

                display: grid;
                grid-template-columns: 2fr 4fr 4fr 2fr 2fr 2fr;
            }

                .big-avatar {
                    /* background-color: black; */
                    grid-column: 1/2;


                }



                .big-user-name {
                    /* background-color: rgb(168, 20, 20); */
                    grid-column: 2/3;
                    font-weight: var(--sidebar-weight);

                    align-items: center;
                    text-align: center;
                }

                .h-b-container > button {

                    border: none;
                    font-family: var(--text-font);
                    font-size: 0.7em;
                    font-weight: var(--sidebar-weight);
                    color: var(--sidebar-text-color);
                    background-color: var(--sidebar-color);
                    border-radius: 6px;
                    margin: 5px;
                    

                    display: flex;
                    justify-content: center;
                    
                    
                }

                .new {
                    
                    grid-column: 4/5;
                }

                .upload {
                    
                    grid-column: 5/6;

                }

                .share {
                    
                    grid-column: 6/7;

                }

                .h-b-container > div {

                    display: flex;
                    
                    align-content: center;
                    justify-content: center;

                }
                
                .h-b-container > div > img {
                    height: var(--sidebar-icon-height*3);
                }



/* /////////////////// MAIN /////////////////// */

        main {
            background-color: var(--main-background-color);
            display: grid;
            grid-column: 1/3;
            grid-row: 2/3;

            grid-template-columns: 4fr 1fr;
            
            padding: 15px;
            gap: 15px;;
            
            
        }

            .projects {
                
                font-size: 0.8rem;
                
                

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                
                
                
                gap: 20px;
                

            }

            .projects > div {
                border: none;
                border-left: 8px solid var(--sidebar-color);
                border-radius: 10px;
                background-color: var(--header-background-color);

                padding: 20px;

                
                
            }

            .media {
                display: grid;
                grid-template-rows: 2fr 1fr;
                gap: 20px;
            }

                .announcements {

                    background-color: var(--header-background-color);
                    border-radius: 10px;
                    padding: 5px;
                    

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;
                    
                }

                .announcements>span:nth-child(2) {

                    border-top: 1px solid var(--main-background-color);
                    border-bottom: 1px solid var(--main-background-color);
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .trending {
                    background-color: var(--header-background-color);
                    border-radius: 10px;
                    padding: 5px;
                }



ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: var(--text-font);
    
    
}

li {
    color: white;
    
    
}

a {
    text-decoration: none;
    color: white;
    font-weight: var(--sidebar-weight);
    
    
}

